<div class="img-modal" #artworkModal>
 
    <div class="contain">

      <img src="/assets/images/about/uri-deadhorse-canyon.jpg" alt='Uri Blayer' loading=lazy>
      <!-- <h2>name:{{painting.name}} material:{{painting.material}} size:{{painting.size}} year:{{painting.year}} id:{{painting.id}}</h2> -->

    </div>

    <button (click)="closeModal()" id="close" title="close" autofocus>&#10006;</button>

  </div>


<div class="wrapper">
  <h1>About Uri Blayer</h1>
  

  <div id="aboutDiv">
    <h3>
      Uri studied at the Telma-Yalin Art School in Israel, at the Art Student League in New York City and at Brooklyn
      College. His work hangs in many private galleries, corporate institutions, and public collections and has been
      featured in many prominent group exhibitions in the United States and Israel. 
      In Hawaii his paintings can be seen at the Bank of Hawaii, the Hawaii State Museum, and the Hawaii State Foundation in Culture and the Arts.<br><br>
      He has won many awards and recently won a grant from the Elizabeth Greenshield Foundation. His work has been reviewed in the
      New York Times, The New York Sun, and The Jerusalem Post.<br><br>
      <i>“There are occasions when a young painter of marked
        ability appears on the scene. They are rare, and this is one of them. Blayer looks at nature, stands before it with
        a love and accomplishment that sets him apart…”</i> Francis Cunningham, The New York Times 2004.
    </h3>
    <h5 id="myResume" (click)="myResume()">Download CV</h5>
      <img src="/assets/images/about/uri-deadhorse-canyon.jpg" alt="" id="about-image" (click)="openModal()">
      <h6>Photo : Vito Palmisano</h6>

  </div>
 
</div>
