<div *ngIf="!paintings" class="lds-ring">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
 
 
 <div *ngIf="painting" class="img-modal" #artworkModal
  (keyup.arrowleft)="previousImage()" (keyup.arrowright)="nextImage()" (keyup.escape)="closeModal()">
 
    <div class="contain">

      <img src="assets/images/{{painting.year}}/{{painting.src}}" alt='{{painting.name}}-Uri Blayer' loading=lazy>
      <h2>name:{{painting.name}} material:{{painting.material}} size:{{painting.size}} year:{{painting.year}} id:{{painting.id}}</h2>

    </div>

    <button (click)="closeModal()" id="close" title="close" autofocus>&#10006;</button>
    <button (click)="previousImage()" id="prev" class="arrows" title="previous"></button>
    <button (click)="nextImage()" id="next" class="arrows" title="next"></button>

  </div>

<div class="wrapper">

  <h1>Early work</h1>

  <div class="images">
    <ng-container *ngIf="paintings">

      <img *ngFor="let image of paintings" src="assets/images/{{image.year}}/{{image.src}}" 
      alt="{{image.name}}-Uri Blayer" (click)="openModal(image.id)">

    </ng-container>
  </div>

</div>
