section {
  display: block;
  position: relative;
}

section::after {
  content: "";
  // background: url("/assets/images/bg2.jpeg");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}