$headerHeight: 70px;

.test {
  background-color: red;
}

.menuDropDown {
  display: none;
  text-transform: uppercase;
  color: #5c5c5c;
  padding-top:10px;
  margin-bottom: 48px;
  position:absolute;
  background-color:white;
  a{
    display:block
  }
}

.header {
  background-color: white;
  position: sticky;
  top: 0;
  height: headerHeight;
  width: 100%;
  z-index: 9;

  .head {
    display: inline-block;

    #artistName {
      font: normal normal normal 33px/1.1em Basic, sans-serif;
      font-size: 2em;
      margin: 0;
      color: #464545;
      letter-spacing: 9px;
      text-align: center;
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      width: auto;
    }
  }

  .header-center {
    height: 100%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #5c5c5c;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 70px;
    

    .subNav {
      display: inline-block;
      font-size:22px;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bold;
      }
    }

    a {
      margin: 25px;
      letter-spacing: 0.5px;
      color: rgb(15, 15, 15);
      text-decoration: none;
      color: #7a7a7a;
      font-size:22px;

      &:hover {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bold;
      }
    }

    .current {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-weight: bold;
    }
  }
}
