<div class="header">

  <a routerLink="/home">
    <div class="head">
      <h1 id="artistName">URI <br><span>BLAYER</span></h1>
    </div>
  </a>

  <div class="header-center">

    <div class="subNav" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" (click)="subNavLinks()">
      Selected Artworks
      <div class="menuDropDown" #menuDropDown>
        <a routerLink="/earlywork" routerLinkActive="current">Early Work</a>
        <a routerLink="/paintings2002to2011" routerLinkActive="current">2002 - 2011</a>
        <a routerLink="/paintings2012to2016" routerLinkActive="current">2012 - 2016</a>
        <a routerLink="/paintings2017to2018" routerLinkActive="current">2017 - 2018</a>
        <a routerLink="/portraits" routerLinkActive="current">Portraits</a>
      </div>

    </div>
  
    <a routerLink="/field" routerLinkActive="current">On the field</a>|
    <a routerLink="/articles" routerLinkActive="current">Articles</a>|
    <a routerLink="/about" routerLinkActive="current">About</a>|
    <a routerLink="/contact" routerLinkActive="current">Contact</a>
  </div>

 
  <!-- <div [class]="class" *ngIf="content">Hi</div> -->

</div>
