<div class="header">

  <div class="head">
    <h1 id="artistName">URI <br><span>BLAYR</span></h1>
  </div>

  <div class="header-center">
    <a routerLink="/home" routerLinkActive="current">Home</a>|
    <a routerLink="/portfolio" routerLinkActive="current">Recent - 2003</a>|
    <a routerLink="/portfolio" routerLinkActive="current">97-2002</a>|
    <a routerLink="/about" routerLinkActive="current">About</a>|
    <a routerLink="/contact" routerLinkActive="current">Contact</a>
  </div>

</div>
