<div class="header">

  <a routerLink="/home">
    <div class="head">
      <h1 id="artistName">URI <br><span>BLAYER</span></h1>
    </div>
  </a>

  <div class="header-center">
    <a routerLink="/recent2003" routerLinkActive="current">Recent - 2003</a>|
    <a routerLink="/97to2002" routerLinkActive="current">97-2002</a>|
    <a routerLink="/field" routerLinkActive="current">Field</a>|
    <a routerLink="/articles" routerLinkActive="current">Articles</a>|
    <a routerLink="/about" routerLinkActive="current">About</a>|
    <a routerLink="/contact" routerLinkActive="current">Contact</a>
  </div>

</div>
