$headerHeight: 70px;
$fontSize: 16px;

.test {
  background-color: red;
}

.menuDropDown {
  display: none;
  text-transform: uppercase;
  position: absolute;
  background-color: white;

  a {
    display: block;
    color: #5c5c5c;
    margin-top: 10px;
  }

  div {
    margin-top: 10px;
    cursor: pointer;

    a {
      display: inline-block;
    }

    .articles {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-left: 3px solid;
      border-bottom: 3px solid;
      transform: rotate(45deg);
    }
  }
}

.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  height: $headerHeight;
  width: 100%;
  z-index: 9;

  .phoneMenu {
    display: none;
    width: 40px;
    margin: 20px;
    float: right;
    cursor: pointer;

    .line {
      display: block;
      width: 100%;
      margin: 5px;
      border: 3px solid;
    }
  }

  .head {
    display: inline-block;

    #artistName {
      font: normal normal normal 33px/1.1em Basic, sans-serif;
      font-size: 2em;
      padding: 5px;
      color: #464545;
      letter-spacing: 9px;
      text-align: center;
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      width: auto;
    }
  }

  .header-center {
    text-transform: uppercase;
    color: #5c5c5c;
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .subNav {
      display: inline-block;
      font-size: $fontSize;
      cursor: pointer;
      margin-right: 15px;

      &:hover {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bold;
      }
    }

    a {
      margin: 15px;
      letter-spacing: 0.5px;
      color: rgb(15, 15, 15);
      text-decoration: none;
      color: #7a7a7a;
      font-size: $fontSize;

      &:hover {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bold;
      }
    }

    .current {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-weight: bold;
    }
  }
}

// media queries
@media only screen and (max-width: 520px) {
  .header {
    .phoneMenu {
      display: inline-block;
    }
    .header-center {
      display: none;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .header {
    .header-center {
      text-align: right;
    }
  }
}
@media only screen and (max-width: 825px) {
  .header {
    .header-center {
      width: auto;
    }
  }
}

// ANIMATIONS
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp
}


/* Logo Animation */
@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}