<div class="wrapper">

  <h1>Send a message</h1>

  <form [formGroup]="newContact">

    <label for="fullname">Full Name</label>
    <input type="text" class="form-control" name="fullname" placeholder="Full Name..." formControlName='fullname'>

    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" placeholder="Email..." formControlName='email'>

    <label for="subject">Subject</label>
    <input type="text" class="form-control" name="subject" placeholder="Subject..." formControlName='subject'>

    <label for="message">Message</label>
    <textarea rows="4" cols="60" class="form-control" name="message" placeholder="Message..." formControlName='message'>
  </textarea>

    <button class="btn btn-dark" (click)="sendMessage()">send</button>
  </form>

</div>
