<div class="wrapper">

  <div class='container-fluid'>
    <ngb-carousel class="no-indicators">

      <ng-template ngbSlide *ngFor="let picture of carousel">
        <img src="{{picture.img}}" alt="picture.name" loading="lazy" height="450px">
      </ng-template>

    </ngb-carousel>

  </div>

  <p>
    The creation process naturally leads me to go outdoors and paint landscapes on location, I feel this is the only way
    for art to become a truthful testimony of nature, and not just a kind of an objective photographic image of it.
  </p>

</div>
