<div class='container-fluid'>
  <ngb-carousel class="no-indicators">

    <ng-template ngbSlide *ngFor="let picture of carousel">
      <img src="{{picture.img}}" alt="picture.name" loading="lazy" height="450px">
    </ng-template>

  </ngb-carousel>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia eaque, ut obcaecati iste magnam neque adipisci laudantium deleniti consectetur reprehenderit optio asperiores porro ullam vel quaerat tempora cupiditate laboriosam quas!
    Deleniti doloremque aperiam, hic labore, dolorem eos fugiat quam sequi pariatur impedit voluptatem! Laudantium autem cum sit, hic optio architecto, deleniti perferendis distinctio consequatur dignissimos, molestias commodi beatae deserunt sequi!
    Nam quasi ullam voluptatum doloremque labore deserunt dolores autem optio veniam quaerat tempora, eaque tenetur odit? Eligendi veritatis quidem sed. Dicta voluptatem blanditiis distinctio. A optio aperiam inventore obcaecati ducimus.
  </p>
  
</div>
