<div *ngIf="painting" class="img-modal" #artworkModal>
 
    <div class="contain">

      <img src="assets/images/on-the-field/{{painting.src}}" alt='{{painting.location}} - Uri Blayer Artist' loading=lazy>
      <h6 class="copyright">{{painting.copyright}}</h6>
      <h2>{{painting.location}} - {{painting.year}}</h2>
      


    </div>

    <button (click)="closeModal()" id="close" title="close" autofocus>&#10006;</button>
    <button (click)="previousImage()" id="prev" class="arrows" title="previous"></button>
    <button (click)="nextImage()" id="next" class="arrows" title="next"></button>

  </div>
<div *ngIf="!paintings" class="lds-ring">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="wrapper">

  <h1>On the field</h1>

  <div class="images">
    <ng-container *ngIf="paintings">
      <div *ngFor="let image of paintings">
        <img src="assets/images/on-the-field/{{image.src}}" alt="{{image.location}} painting" (click)="openModal(image.id)">
      </div>
    </ng-container>
  </div>
</div>